name: .NET Core

on: [push, pull_request]

permissions:
  contents: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04, macos-14, windows-2022]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Install coreutils for timeout (Mac)
      if: ${{ startsWith(matrix.os, 'macos') }}
      run: brew install coreutils
    - name: Build
      run: dotnet build -c release
    - name: Render (Mac / Ubuntu)
      if: ${{ startsWith(matrix.os, 'macos') || startsWith(matrix.os, 'ubuntu') }}
      run: ./render-all.sh 180
    - name: Render (Win)
      if: ${{ startsWith(matrix.os, 'windows') }}
      run: .\render-all.bat 180
    - name: Create HTML (from master on Ubuntu 22)
      if: ${{ github.ref == 'refs/heads/master' && matrix.os == 'ubuntu-22.04' }}
      run: ./deploy.sh
    - name: Deploy to gh-pages (from master on Ubuntu 22)
      if: ${{ github.ref == 'refs/heads/master' && matrix.os == 'ubuntu-22.04' }}
      uses: JamesIves/github-pages-deploy-action@v4.4.1
      with:
        branch: gh-pages
        folder: out
        single-commit: true
